# Environment variables
.env
.env.local
.env.*.local

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# NestJS build output
dist/
build/
*.tsbuildinfo

# IDE & OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.cxx/
android/*.iml

# Docker volumes & logs
*.log
docker-volumes/
